@import "../../../../vendors/mixins";
@import "../../../../vendors/variables";

.about-services {
    border-top: 1px solid #cecece;

    .services-item {
        @include flexCenter;

        svg {
            min-width: 60px;
            min-height: 60px;
            fill: $main-color;
        }

        p {
            font-size: 14px;

            @media(min-width: 767px) and (max-width: 991px) {
                font-size: 11px;
            }
        }
    }
}