@import "../../../../vendors/mixins";
@import "../../../../vendors/variables";

.about-info {
    color: $main-color;

    h2 {
        font-weight: 600;
    }

    p {
        padding-top: 1rem;
        font-size: 20px;
        font-weight: 400;
    }
}