@import "../../vendors/mixins";
@import "../../vendors/variables";

.scrolled {
    background-color: $main-color;
}

header {
    position: fixed;
    width: 100%;
    color: white;
    z-index: 999;

    .header-content {
        @include flexBetween;

        ul {
            list-style: none;
            @include flexCenter;
            margin: 0;
            gap: 15px;

            li {
                button {
                    color: white;
                }
            }
        }

        select {
            @include cleanButton;
            color: white;
        }
    }
}