@import "../../vendors/mixins";
@import "../../vendors/variables";

header {
    position: fixed;
    width: 100%;
    color: white;

    .header-content {
        @include flexBetween;

        ul {
            list-style: none;
            @include flexCenter;
        }

        select {
            @include cleanButton;
        }
    }
}