@import "../../vendors/mixins";
@import "../../vendors/variables";

.footer-item {
    display: flex;
    align-items: center;

    @media (max-width: 767px) {
        font-size: 15px;
        justify-content: center;
    }

    @media (max-width: 551px) {
        font-size: 14px;
    }
}

footer {
    p {
        margin-bottom: 0.5rem;
    }

    .footer-content {
        padding: 30px 0;
        border-top: 2px solid rgba(255, 255, 255, 0.08);
        @include flexBetween;

        @media(max-width: 767px) {
            flex-direction: column-reverse;
            gap: 10px;
        }

        .footer-info {
            display: flex;
            justify-content: center;
            gap: 5px;

            svg {
                width: 25px;
                height: 25px;
                fill: $main-color;
            }

            a {
                text-decoration: none;
                color: $main-color;
                padding-left: 5px;
            }
        }
    }
}