@import "../../../../vendors/mixins";
@import "../../../../vendors/variables";

.about-line {
    background: url(../../../../assets/images/linebg.png);
    min-height: 125px;

    img {
        width: 100%;
        height: 400px;
        object-fit: contain;
    }

    .pellet-infos {
        flex-direction: column;

        .weight-product {
            font-size: 3rem;
            color: rgb(247, 147, 30);
        }

        .weight-info {
            font-size: 1rem;
            color: white;
        }

        .pallet-info {
            @media(max-width: 991px) {
                display: flex;
                justify-content: center;
            }
        }

        .product-desc {
            align-items: center;
            gap: 10px;

            .product-info {
                font-size: 1.3rem;
            }

        }
    }
}