@import "./vendors/mixins";
@import "./vendors/variables";

* {
    box-sizing: border-box;
    font-family: $main-font !important;
}

body {
    margin: 0;
    padding: 0;
}

.clean-button {
    @include cleanButton;
}