@import "./vendors/mixins";
@import "./vendors/variables";

* {
    box-sizing: border-box;
    font-family: $main-font !important;
  /* Firefox */
    scrollbar-width: thin;
    scrollbar-color: #599030 #ffffff;
}

body {
    margin: 0;
    padding: 0;
}

#root {
    overflow-x: hidden;
}

.clean-button {
    @include cleanButton;
}

.text-main {
    color: rgb(113, 182, 61);
}

/* ===== Scrollbar CSS ===== */
/* width */
::-webkit-scrollbar {
    width: 11px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $main-color;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $main-color;
    opacity: 0.9;
  }
  