@import "./vendors/mixins";
@import "./vendors/variables";

* {
    box-sizing: border-box;
    font-family: $main-font !important;
}

body {
    margin: 0;
    padding: 0;
}

#root {
    overflow-x: hidden;
}

.clean-button {
    @include cleanButton;
}

.text-main {
    color: rgb(113, 182, 61);
}